<%-include('bootstrap.ejs')-%>

<div class="container mt-5 text-muted">
    <footer class="footer">
        <p class="text-center">
            Classes managment system &copy; all rights reserved 
        </p>
    </footer>
</div>