<%-include('partials/bootstrap.ejs')-%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
<style>
     body {
         background-color: rgb(2, 2, 24);
         color: #fff;

     }
     #form {
         width: 30%;
         margin-top: 100px;
         margin-left: 400px;
     }
     .logo{
         font-style: italic;
     }
     @media(max-width : 600px) {
         #form {
             width: 100%;
             margin-top: auto;
             margin-left: auto;
         }
     }
</style>

<div class="container">
    <form action="/" method="POST" class="form-group" id="form">
      <div class="logo text-center mb-5">

        <h5 class="text-primary"> <span class="text-warning">Classes M</span>anagment <span class="text-warning">S</span>ystem <i class="fas fa-users text-warning"></i></h5>
      </div>
     

        <h3 class="text-center">Register <i class="fas fa-user-alt"></i></h3>

        <div class="flashes">
            <% if (flashMessages) { %>
              <% if (flashMessages.success) { %>

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <div class="flash success"><%= flashMessages.success %></div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

              <% } else if (flashMessages.error) { %>
               
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div class="flash error"><%= flashMessages.error %></div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
              <% } %>
            <% } %>
          </div>

        <label for="name">Name</label>
        <input type="text" name="name" id="" class="form-control" placeholder="Enter Name" required>

        <label for="email">Email</label>
        <input type="email" name="email" id="" class="form-control" placeholder="Enter Email" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="" class="form-control" placeholder="Enter Password" required>
 
        <button class="btn btn-primary btn-block mt-3">Register</button>
        <p class="mt-2"> Already have an account ? <a href="/login">Login</a></p>
    </form>
</div>